.centerElements {
	-fx-alignment: center;
}

.playersList {
	-fx-max-width: 320;
}

#lview_allPlayers {
	-fx-font-size: 12;
	-fx-font-family: "Courier New";
}

.create_player_button {
	-fx-min-width: 100%;
}